.server-links {
  display: flex;
  gap: 1rem;
  width: 100%;

  .server-link {
    list-style-type: none;
    min-width: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    a {
      box-shadow: 0 0 0.7rem #666;
      border-radius: 0.5rem;
      padding: 1rem;
      font-size: 1.3rem;
      text-decoration: none;
      text-align: center;
      width: 100%;
      font-weight: bold;
      transition: 0.3s;
      background-color: #ffa500;
      color: #f7f7f7;
      
      &:hover {
        color: orange;
        background-color: #f7f7f7;
      }
    }
  }
}
